<!DOCTYPE HTML>
<html>
<head>
    <title>Chaos Engineering Colombia</title>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
    <link href="styles/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="styles/stylesheet_media.css" type="text/css" rel="stylesheet" />
    <link href="styles/stylesheet_compl.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="320">
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N7WTZBK');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <h2 class="greeting">
                <a href="index">Chaos Engineering Colombia</a>
            </h2>
        </div>
        <div class="item2">
            {{ content }}
        </div>
        <div class="item3">
            <div class="row links">
                <ul class="box">
                    <li>
                        <a href="members">
                        <img src="images/members.png" />
                        <p>Members</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/dastergon/awesome-chaos-engineering">
                        <img src="images/resources.png" />
                        <p>Resources</p>
                        </a>
                    </li>
                    <li>
                        <a href="projects">
                        <img src="images/projects.png" />
                        <p>Projects</p>
                        </a>
                    </li>
                    <li>
                        <a href="biweeklies">
                        <img src="images/weeklies.png" />
                        <p>Biweeklies</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7WTZBK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
